<ul id="barra_nav" class="nav flex-column col-2">
    <li>
        <i class="fa-solid fa-address-card fa-xl"></i><h5>Datos personales</h5>
    </li>
    <li>
        <i class="fa-solid fa-user fa-xl"></i><h5>Sobre mi</h5>
    </li> 
    <li>
        <i class="fa-solid fa-briefcase fa-xl"></i><h5>Experiencia Laboral</h5>
    </li>
    <li>
        <i class="fa-solid fa-graduation-cap fa-xl"></i><h5>Estudios</h5>
    </li>
    <li>
        <i class="fa-solid fa-dharmachakra fa-xl"></i><h5>Fortalezas y Debilidades</h5> 
    </li>
    <li>
        <i class="fa-solid fa-code fa-xl"></i><h5>Proyectos</h5>
    </li>        
</ul>
