<div id="proyectos" class="container tarjeta">

    <div class="row">

        <div class="col">
            <h3><i class="fa-solid fa-code"></i> Proyectos</h3>
        </div>

        <form [formGroup]="form" (ngSubmit)="editarProyecto()">
            <div class="modal-body">
                <div class="mb-3">
                    <label for="inputProyecto" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="inputProyecto" name="nombre" formControlName="nombre"
                        [ngClass]="{'is-invalid': Nombre?.errors && Nombre?.touched, 'is-valid':!Nombre?.errors && Nombre?.touched}"
                        [(ngModel)]="proyecto.nombre">
                </div>

                <div *ngIf="Nombre?.errors && Nombre?.touched">
                    <p *ngIf="Nombre?.hasError('required')" class="text-danger">El nombre es requerido</p>
                </div>

                <div class="mb-3">
                    <label for="inputFecha" class="form-label">Fecha de realización</label>
                    <input type="date" class="form-control" id="inputFecha" name="fecha" formControlName="fecha"
                        [ngClass]="{'is-invalid': Fecha?.errors && Fecha?.touched, 'is-valid':!Fecha?.errors && Fecha?.touched}"
                        [(ngModel)]="proyecto.fecha">
                </div>

                <div *ngIf="Fecha?.errors && Fecha?.touched">
                    <p *ngIf="Fecha?.hasError('required')" class="text-danger">El mes y año de realización son
                        requeridos </p>
                </div>

                <div class="mb-3">
                    <label for="inputDesc" class="form-label">Descripción</label>
                    <textarea class="form-control" id="inputDesc" rows="3" name="descripcion"
                        formControlName="descripcion"
                        [ngClass]="{'is-invalid': Descripcion?.errors && Descripcion?.touched, 'is-valid':!Descripcion?.errors && Descripcion?.touched}"
                        [(ngModel)]="proyecto.descripcion"></textarea>
                </div>

                <div *ngIf="Descripcion?.errors && Descripcion?.touched">
                    <p *ngIf="Descripcion?.hasError('required')" class="text-danger">La descripción es requerida</p>
                </div>

                <div class="mb-3">
                    <label for="inputUrl" class="form-label">Url</label>
                    <input type="url" class="form-control" id="inputUrl" name="url" formControlName="url"
                        [ngClass]="{'is-invalid': Url?.errors && Url?.touched, 'is-valid':!Url?.errors && Url?.touched}"
                        [(ngModel)]="proyecto.url">
                </div>

                <div *ngIf="Url?.errors && Url?.touched">
                    <p *ngIf="Url?.hasError('required')" class="text-danger">La URL es requerida</p>
                </div>

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Editar</button>
            </div>
        </form>
    </div>
</div>