<section id="proyectos" class="container tarjeta">

  <div class="row">

    <div class="col">
      <h3><i class="fa-solid fa-code"></i> Proyectos</h3>
    </div>

    <div class="col">

      <section id="agregarProyecto">
        <button type="button" class="btn btn-light" id="boton_edit" data-bs-toggle="modal"
          data-bs-target="#nuevoProyModal" *ngIf="isLogged"><i class="fa-solid fa-plus fa-lg"></i></button>
      </section>

    </div>
  </div>

  <ul>
    <li *ngFor="let proy of proyectosList">
      <div class="row">
        <div class="col-11">
          <h4>{{proy.nombre}}</h4>
          <h5><time>{{proy.fecha | date:"MM-yyyy"}}</time> </h5>
          <p>{{proy.descripcion}}</p>
          <a [href]="proy.url"  target="_BLANCK">{{proy.url}}</a>
        </div>

        <div class="col-1">
          <section id="editProyetos">
            <button type="button" class="btn btn-light" id="boton_edit" (click)="borrarProyecto(proy.id)" *ngIf="isLogged"> <i
                class="fa-solid fa-trash"></i></button>
            <button type="button" class="btn btn-light" id="boton_edit" routerLink="editarProy/{{proy.id}}" *ngIf="isLogged"> <i class="fa-solid fa-pen fa-lg"></i></button>
          </section>

        </div>
      </div>
    </li>
  </ul>
</section>

<!-- Modal nuevo proyecto -->
<div class="modal fade" id="nuevoProyModal" tabindex="-1" aria-labelledby="nuevoProyModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="nuevoProyModalLabel">Nuevo proyecto</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="form" (ngSubmit)="nuevoProyecto()">
        <div class="modal-body">
          <div class="mb-3">
            <label for="inputProyecto" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="inputProyecto" name="nombre" formControlName="nombre"
            [ngClass]="{'is-invalid': Nombre?.errors && Nombre?.touched, 'is-valid':!Nombre?.errors && Nombre?.touched}" [(ngModel)]="nombre">
          </div>

          <div *ngIf="Nombre?.errors && Nombre?.touched">
            <p *ngIf="Nombre?.hasError('required')" class="text-danger">El nombre es requerido</p>
          </div>

          <div class="mb-3">
            <label for="inputFecha" class="form-label">Fecha de realización</label>
            <input type="date" class="form-control" id="inputFecha" name="fecha" formControlName="fecha"
            [ngClass]="{'is-invalid': Fecha?.errors && Fecha?.touched, 'is-valid':!Fecha?.errors && Fecha?.touched}" [(ngModel)]="fecha">
          </div>

          <div *ngIf="Fecha?.errors && Fecha?.touched">
            <p *ngIf="Fecha?.hasError('required')" class="text-danger">El mes y año de realización son requeridos </p>
          </div>

          <div class="mb-3">
            <label for="inputDesc" class="form-label">Descripción</label>
            <textarea class="form-control" id="inputDesc" rows="3" name="descripcion" formControlName="descripcion"
            [ngClass]="{'is-invalid': Descripcion?.errors && Descripcion?.touched, 'is-valid':!Descripcion?.errors && Descripcion?.touched}" [(ngModel)]="descripcion"></textarea>
          </div>

          <div *ngIf="Descripcion?.errors && Descripcion?.touched">
            <p *ngIf="Descripcion?.hasError('required')" class="text-danger">La descripción es requerida</p>
          </div>

          <div class="mb-3">
            <label for="inputUrl" class="form-label">Url</label>
            <input type="url" class="form-control" id="inputUrl" name="url" formControlName="url"
            [ngClass]="{'is-invalid': Url?.errors && Url?.touched, 'is-valid':!Url?.errors && Url?.touched}" [(ngModel)]="url">
          </div>

          <div *ngIf="Url?.errors && Url?.touched">
            <p *ngIf="Url?.hasError('required')" class="text-danger">La URL es requerida</p>
          </div>

        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Agregar</button>
        </div>
      </form>
    </div>
  </div>
</div>