<div class="container tarjeta"   >
    <div class="row">
        <div class="col">
            <h3><i class="fa-solid fa-briefcase"></i> Editar Experiencia Laboral</h3>
        </div>

        <form (ngSubmit)="editarExperiencia()" [formGroup]="form">
            <div class="modal-body">
                <div class="mb-3">
                    <label for="puesto" class="form-label">Puesto/Rol</label>
                    <input type="text" class="form-control" id="puesto" name="puesto" formControlName="puesto"
                        [ngClass]="{'is-invalid': Puesto?.errors && Puesto?.touched, 'is-valid':!Puesto?.errors && Puesto?.touched}"
                        [(ngModel)]="expLab.puesto">
                </div>

                <div *ngIf="Puesto?.errors && Puesto?.touched">
                    <p *ngIf="Puesto?.hasError('required')" class="text-danger">El puesto es requerido</p>
                </div>

                <div class="mb-3">
                    <label for="inputEmpresa" class="form-label">Empresa</label>
                    <input type="text" class="form-control" id="inputEmpresa" name="empresa" formControlName="empresa"
                        [ngClass]="{'is-invalid': Empresa?.errors && Empresa?.touched, 'is-valid':!Empresa?.errors && Empresa?.touched}"
                        [(ngModel)]="expLab.empresa">
                </div>

                <div *ngIf="Empresa?.errors && Empresa?.touched">
                    <p *ngIf="Empresa?.hasError('required')" class="text-danger">La empresa es requerida</p>
                </div>

                <div class="mb-3">
                    <label for="inputIngreso" class="form-label">Desde</label>
                    <input type="date" class="form-control" id="inputIngreso" name="inicio" formControlName="desde"
                        [ngClass]="{'is-invalid': Desde?.errors && Desde?.touched, 'is-valid':!Desde?.errors && Desde?.touched}"
                        [(ngModel)]="expLab.inicio">
                </div>

                <div *ngIf="Desde?.errors && Desde?.touched">
                    <p *ngIf="Desde?.hasError('required')" class="text-danger">El mes y año de inicio es requerido</p>
                </div>

                <div class="mb-3">
                    <label for="inputFinal" class="form-label">Hasta</label>
                    <input type="date" class="form-control" id="inputFinal" name="fin" formControlName="hasta"
                        [ngClass]="{'is-invalid': Hasta?.errors && Hasta?.touched, 'is-valid':!Hasta?.errors && Hasta?.touched}"
                        [(ngModel)]="expLab.fin">
                </div>

                <div *ngIf="Hasta?.errors && Hasta?.touched">
                    <p *ngIf="Hasta?.hasError('required')" class="text-danger">El mes y año de finalizacion es requerido
                    </p>
                </div>

                <div class="mb-3">
                    <label for="inputDesc" class="form-label">Descripción</label>
                    <textarea class="form-control" id="inputDesc" rows="3" name="descripcion"
                        formControlName="descripcion"
                        [ngClass]="{'is-invalid': Descripcion?.errors && Descripcion?.touched, 'is-valid':!Descripcion?.errors && Descripcion?.touched}"
                        [(ngModel)]="expLab.descripcion"></textarea>

                    <div *ngIf="Descripcion?.errors && Descripcion?.touched">
                        <p *ngIf="Descripcion?.hasError('required')" class="text-danger">La descripcion es requerida</p>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Editar</button>
            </div>
        </form>
    </div>
</div>