  <section id="experiencia-laboral" class="container tarjeta">
    <div class="row">
      <div class="col">
        <h3><i class="fa-solid fa-briefcase"></i> Experiencia Laboral</h3> 
      </div>
      <div class="col">
            <section id="agregarExperiencia">
                <button type="button" class="btn btn-light" id="boton_edit" data-bs-toggle="modal" data-bs-target="#agregarExpModal"><i class="fa-solid fa-plus fa-lg"></i></button> 
            </section>
      </div>
    </div>

    <ul>
         <li *ngFor="let exp of experienciaList">
            <div class="row">
                <div class="col-11" >
                    <h4>{{exp.puesto}}</h4>
                    <h5>{{exp.empresa}}</h5>
                    <h5><time>{{exp.inicio}}</time> -<time>{{exp.fin}}</time> </h5>                        
                    <p>{{exp.descripcion}}</p> 
                </div>
                <div class="col-1">
                    <section id="editExperincia">
                        <button type="button" class="btn btn-light" id="boton_edit" data-bs-toggle="modal" data-bs-target="#eliminarExpModal"> <i class="fa-solid fa-trash"></i></button> 
                        <button type="button" class="btn btn-light" id="boton_edit" data-bs-toggle="modal" data-bs-target="#editarExpModal"> <i class="fa-solid fa-pen fa-lg"></i></button>                        
                    </section>
                </div>
            </div>
        </li>
    </ul>
  </section>

    <!-- Modal agregar experiencia -->
<div class="modal fade" id="agregarExpModal" tabindex="-1" aria-labelledby="agregarExpModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="agregarExpModalLabel">Nueva experiencia laboral</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
                <label for="inputPuesto" class="form-label">Puesto/Rol</label>
                <input type="text" class="form-control" id="inputPuesto">
            </div>
            <div class="mb-3">
                <label for="inputEmpresa" class="form-label">Empresa</label>
                <input type="text" class="form-control" id="inputEmpresa">
            </div>
            <div class="mb-3">
                <label for="inputIngreso" class="form-label">Desde</label>
                <input type="date" class="form-control" id="inputIngreso">
            </div>
            <div class="mb-3">
                <label for="inputFinal" class="form-label">Hasta</label>
                <input type="date" class="form-control" id="inputFinal">
            </div>
            <div class="mb-3">
                <label for="inputDesc" class="form-label">Descripción</label>
                <textarea class="form-control" id="inputDesc" rows="3"></textarea>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Agregar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal eliminar elemento-->
<div class="modal fade" id="eliminarExpModal" tabindex="-1" aria-labelledby="eliminarModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="eliminarModalLabel">¿Desea eliminar este elemento?</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary">Si</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal editar experiencia -->
  <div class="modal fade" id="editarExpModal" tabindex="-1" aria-labelledby="editarExpModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="editarExpModalLabel">Editar experiencia Laboral</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
                <label for="inputPuesto" class="form-label">Puesto/Rol</label>
                <input type="text" class="form-control" id="inputPuesto">
            </div>
            <div class="mb-3">
                <label for="inputEmpresa" class="form-label">Empresa</label>
                <input type="text" class="form-control" id="inputEmpresa">
            </div>
            <div class="mb-3">
                <label for="inputIngreso" class="form-label">Desde</label>
                <input type="date" class="form-control" id="inputIngreso">
            </div>
            <div class="mb-3">
                <label for="inputFinal" class="form-label">Hasta</label>
                <input type="date" class="form-control" id="inputFinal">
            </div>
            <div class="mb-3">
                <label for="inputDesc" class="form-label">Descripción</label>
                <textarea class="form-control" id="inputDesc" rows="3"></textarea>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Editar</button>
        </div>
      </div>
    </div>
  </div>