<section id="datos-personales" class="container  tarjeta" *ngFor="let pers of datosPersonales">
  <div class="row ">
    <div class="col">
      <img [src]="pers.urlBanner" class="img-fluid rounded" id="banner">
    </div>
  </div>
  <div id="editDatos">
    <button type="button" class="btn btn-light" id="boton_edit" routerLink="/editarPers/{{pers.id}}" *ngIf="isLogged"> <i
        class="fa-solid fa-pen fa-lg"></i></button>
  </div>
  <div class="row align-items-center">

    <div class="col">
      <img [src]="pers.urlFoto" class="img-fluid rounded-circle" id="foto_perfil">
    </div>

    <div class="col text-center">
      <h2>{{pers.nombre}} {{pers.apellido}}</h2>

      <h4>{{pers.posicion}}<br> {{pers.ciudad}}, {{pers.pais}}</h4>
    </div>

    <div class="col">
    </div> 

  </div>
  <div class="container p-2">
    <div class="row text-start">
      <div class="col">
        <h3><i class="fa-solid fa-address-card fa-l "></i> Sobre mí</h3>
        <p>{{pers.sobreMi}}</p>
      </div>
    </div>
  </div>
</section>