<section id="datos-personales" class="container  tarjeta" *ngFor="let pers of datosPersonales">
  <div class="row ">
    <div class="col">
      <img [src]="pers.urlBanner" class="img-fluid rounded" id="banner">
    </div>
  </div>

  <div class="row align-items-center">

    <div class="col">
      <img [src]="pers.urlFoto" class="img-fluid rounded-circle" id="foto_perfil">
    </div>

    <div class="col text-center">
      <h2>{{pers.nombre}} {{pers.apellido}}</h2>

      <h4>{{pers.posicion}}<br> {{pers.ciudad}}, {{pers.pais}}</h4>
    </div>

    <div class="col">
      <section id="editarFoto">
        <button type="button" class="btn btn-light" id="boton_edit" data-bs-toggle="modal"
          data-bs-target="#editFotoModal" *ngIf="isLogged"> <i class="fa-solid fa-camera fa-lg"></i></button>
      </section>

      <section id="editDatos">
        <button type="button" class="btn btn-light" id="boton_edit" data-bs-toggle="modal"
          data-bs-target="#editarModal" *ngIf="isLogged"> <i class="fa-solid fa-pen fa-lg"></i></button>
      </section>
    </div>

  </div>

  <div class="container p-2">
    <div class="row text-start">
      <div class="col-10">
        <h3><i class="fa-solid fa-address-card fa-l "></i> Sobre mí</h3>
        <p>{{pers.sobreMi}}</p>
      </div>
      <div class="col-2">
        <section id="editSobreMi">
          <button type="button" class="btn btn-light" id="boton_edit" data-bs-toggle="modal"
            data-bs-target="#editSobreMiModal" *ngIf="isLogged"> <i class="fa-solid fa-pen fa-lg"></i></button>
        </section>
      </div>
    </div>
  </div>

</section>

<!-- Modal editar datos personales-->
<div class="modal fade" id="editarModal" tabindex="-1" aria-labelledby="editarModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="editarModalLabel">Editar datos personales</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="inputNombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="inputNombre">
          </div>
          <div class="mb-3">
            <label for="inputApellido" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="inputApellido">
          </div>
          <div class="mb-3">
            <label for="inputPosition" class="form-label">Posicion</label>
            <input type="text" class="form-control" id="inputPosition">
          </div>
          <div class="mb-3">
            <label for="inputCiudad" class="form-label">Ciudad</label>
            <input type="text" class="form-control" id="inputCiudad">
          </div>
          <div class="mb-3">
            <label for="inputPais" class="form-label">País</label>
            <input type="text" class="form-control" id="inputPais">
          </div>
          <div class="mb-3">
            <label for="inputPais" class="form-label">Url perfil de GitHub</label>
            <input type="text" class="form-control" id="inputurlGithub">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Editar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Foto de perfil y banner-->
<div class="modal fade" id="editFotoModal" tabindex="-1" aria-labelledby="editFotoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="editFotoModalLabel">Cambiar foto de perfil y/o banner</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="inputURL" class="form-label">URL foto de perfil</label>
            <input type="url" class="form-control" id="inputURL">
            <label for="inputURL" class="form-label">URL banner</label>
            <input type="url" class="form-control" id="inputURL">

          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Editar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal editar sobre mi -->
<div class="modal fade" id="editSobreMiModal" tabindex="-1" aria-labelledby="editSobreMiModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="editSobreMiModalLabel">Editar "Sobre Mí"</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <textarea class="form-control" id="about" rows="3"></textarea>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Editar</button>
      </div>
    </div>
  </div>
</div>