<div class="container tarjeta">
    <div class="row">
        <div class="col">
            <h3><i class="fa-solid fa-address-card fa-l "></i> Editar Datos Personales</h3>
        </div>

        <form (ngSubmit)="editarPersona()" [formGroup]="form">
            <div class="mb-3">
                <label for="inputNombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="inputNombre" formControlName="nombre"
                    [ngClass]="{'is-invalid': Nombre?.errors && Nombre?.touched, 'is-valid':!Nombre?.errors && Nombre?.touched}"
                    [(ngModel)]="persona.nombre">
            </div>

            <div *ngIf="Nombre?.errors && Nombre?.touched">
                <p *ngIf="Nombre?.hasError('required')" class="text-danger">El nombre es requerido</p>
            </div>

            <div class="mb-3">
                <label for="inputApellido" class="form-label">Apellido</label>
                <input type="text" class="form-control" id="inputApellido" formControlName="apellido"
                    [ngClass]="{'is-invalid': Apellido?.errors && Apellido?.touched, 'is-valid':!Apellido?.errors && Apellido?.touched}"
                    [(ngModel)]="persona.apellido">
            </div>

            <div *ngIf="Apellido?.errors && Apellido?.touched">
                <p *ngIf="Apellido?.hasError('required')" class="text-danger">El apellido es requerido</p>
            </div>

            <div class="mb-3">
                <label for="inputPosition" class="form-label">Posicion</label>
                <input type="text" class="form-control" id="inputPosition" formControlName="posicion"
                    [ngClass]="{'is-invalid': Posicion?.errors && Posicion?.touched, 'is-valid':!Posicion?.errors && Posicion?.touched}" [(ngModel)]="persona.posicion">
            </div>

            <div *ngIf="Posicion?.errors && Posicion?.touched">
                <p *ngIf="Posicion?.hasError('required')" class="text-danger">La posicion es requerida</p>
            </div>

            <div class="mb-3">
                <label for="inputCiudad" class="form-label">Ciudad</label>
                <input type="text" class="form-control" id="inputCiudad" formControlName="ciudad"
                    [ngClass]="{'is-invalid': Ciudad?.errors && Ciudad?.touched, 'is-valid':!Ciudad?.errors && Ciudad?.touched}" [(ngModel)]="persona.ciudad">
            </div>

            <div *ngIf="Ciudad?.errors && Ciudad?.touched">
                <p *ngIf="Ciudad?.hasError('required')" class="text-danger">La ciudad es requerida</p>
            </div>

            <div class="mb-3">
                <label for="inputPais" class="form-label">País</label>
                <input type="text" class="form-control" id="inputPais" formControlName="pais"
                    [ngClass]="{'is-invalid': Pais?.errors && Pais?.touched, 'is-valid':!Pais?.errors && Pais?.touched}" [(ngModel)]="persona.pais">
            </div>

            <div *ngIf="Pais?.errors && Pais?.touched">
                <p *ngIf="Pais?.hasError('required')" class="text-danger">El pais es requerido</p>
            </div>

            <div class="mb-3">
                <label for="inputPais" class="form-label">Url perfil de GitHub</label>
                <input type="text" class="form-control" id="inputurlGithub" formControlName="urlGitHub"
                    [ngClass]="{'is-invalid': UrlGitHub?.errors && UrlGitHub?.touched, 'is-valid':!UrlGitHub?.errors && UrlGitHub?.touched}" [(ngModel)]="persona.urlGithub">
            </div>

            <div *ngIf="UrlGitHub?.errors && UrlGitHub?.touched">
                <p *ngIf="UrlGitHub?.hasError('required')" class="text-danger">La url del perfil en GitHub es requerida
                </p>
            </div>          

            <div class="mb-3">
                <label for="inputSobreMi" class="form-label">Sobre Mi</label>
                <textarea class="form-control" id="inputSobreMi" rows="3" name="sobreMi" formControlName="sobreMi"
                    [ngClass]="{'is-invalid': SobreMi?.errors && SobreMi?.touched, 'is-valid':!SobreMi?.errors && SobreMi?.touched}" [(ngModel)]="persona.sobreMi"></textarea>
            </div>

            <div *ngIf="SobreMi?.errors && SobreMi?.touched">
                <p *ngIf="SobreMi?.hasError('required')" class="text-danger">Este campo es requerido</p>
            </div>

            <div class="mb-3">
                <label for="inputFoto" class="form-label">Foto de perfil</label>
                <input type="file" class="form-control" id="inputFoto" formControlName="urlFotoPerfil"
                    [ngClass]="{'is-invalid': UrlFotoPerfil?.errors && UrlFotoPerfil?.touched, 'is-valid':!UrlFotoPerfil?.errors && UrlFotoPerfil?.touched}" [(ngModel)]="persona.urlFoto" (change)="subirFotoPerfil($event)" accept=".jpg, .jpeg, .png">

                <div *ngIf="UrlFotoPerfil?.errors && UrlFotoPerfil?.touched">
                    <p *ngIf="UrlFotoPerfil?.hasError('required')" class="text-danger">La imagen es requerida</p>
                </div>

                <label for="inputBanner" class="form-label">Banner</label>
                <input type="file" class="form-control" id="inputBanner" formControlName="urlBanner"
                    [ngClass]="{'is-invalid': UrlBanner?.errors && UrlBanner?.touched, 'is-valid':!UrlBanner?.errors && UrlBanner?.touched}" [(ngModel)]="persona.urlBanner" (change)="subirFotoBanner($event)" accept=".jpg, .jpeg, .png">

                <div *ngIf="UrlBanner?.errors && UrlBanner?.touched">
                    <p *ngIf="UrlBanner?.hasError('required')" class="text-danger">La imagen es requerida</p>
                </div>

            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Editar</button>
            </div>

        </form>
    </div>
</div>