<div id="barra_nav" class="col-12">
    <div>
    <img src="./assets/Imagenes/APLogo.png" id="logo_AP"  > 
    
    <h4 >#YoProgramo</h4>
    </div>
    <div >  
    <a href="https://github.com/Facuspi" target="_BLANCK" id="logo_RRSS">
        <i class="fa-brands fa-github fa-2xl"></i>
    </a>
  
    <button id="boton_login" type="button" class="btn btn-outline-light">
        Iniciar Sesión
    </button>    
    
    <button id="boton_login" type="button" class="btn btn-outline-light">
        Cerrar Sesion
    </button>
    </div>  
</div>


