#encabezado {
    background-color: rgba(12, 1, 50, 0.914);
       
}

 h4{
    color: white;
    display: inline;
    position: relative;
    top: 5px;
}

#logo_AP {
    width: 120px;
    height: 40px;
}

#boton_login {
    margin-left:2.5px;
    margin-right: 2.5px;
    }

.fa-github {
    color:white;
}


button{
    background-color: rgba(12, 1, 50, 0.914);
    border-bottom: 2px solid white;
    padding-top: 10px;
    padding-bottom: 10px;
 }

