<div id="header" class="container position-sticky-top">
    <div class="row">
      <div class="col text-start">
            <img src="./assets/Imagenes/APLogo.png" id="logo_AP"  >
         
             <h4>#YoProgramo</h4> 

             

        
        </div>
        <div class="col text-center">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <h5 id="boton_secciones">Secciones<i class="fa-sharp fa-solid fa-angles-down"></i></h5>
            </a>
            <ul class="dropdown-menu">
                <div  class="flex-column nav">
                    <button class="text-start">
                        <i class="fa-solid fa-address-card fa-xl "></i><h5>Datos personales</h5>
                    </button>
                    <button class="text-start ">
                        <i class="fa-solid fa-user fa-xl"></i><h5>Sobre mi</h5>
                    </button> 
                    <button class="text-start ">
                        <i class="fa-solid fa-briefcase fa-xl"></i><h5>Experiencia Laboral</h5>
                    </button>
                    <button class="text-start ">
                        <i class="fa-solid fa-graduation-cap fa-xl"></i><h5>Estudios</h5>
                    </button>
                    <button class="text-start ">
                        <i class="fa-sharp fa-solid fa-chart-simple fa-xl"></i><h5>Fortalezas y Debilidades</h5> 
                    </button>
                    
                    <button class="text-start ">
                        <i class="fa-solid fa-code fa-xl"></i><h5>Proyectos</h5>
                    </button>
                </div>
            </ul>
        </div>
      <div class="col text-end">
        <a href="https://github.com/Facuspi" target="_BLANCK" id="logo_RRSS">
            <i class="fa-brands fa-github fa-2xl"></i>
        </a>
  
        <button id="boton_login" type="button" class="btn btn-outline-light">
            Iniciar Sesión
        </button>    
        
        <button id="boton_login" type="button" class="btn btn-outline-light">
            Cerrar Sesion
        </button>
      </div>
    </div>
</div>
