<div id="header" class="container sticky-top">
    <div class="row">
      <div class="col text-start">
            <img src="./assets/Imagenes/APLogo.png" id="logo_AP"  >
         
             <h4>#YoProgramo</h4> 

        </div>
      <div class="col text-end">
        <a href="https://github.com/Facuspi" target="_BLANCK" id="logo_RRSS">
            <i class="fa-brands fa-github fa-2xl"></i>
        </a>
  
        <button id="boton_login" type="button" class="btn btn-outline-light">
            Iniciar Sesión
        </button>    
        
        <button id="boton_login" type="button" class="btn btn-outline-light">
            Cerrar Sesion
        </button>
      </div>
    </div>
</div>
